name: common-ci
on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      app_type:
        required: true
        type: string
      acc_id:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

jobs:

  ci:
    runs-on: self-hosted
    outputs:
      appVersion: ${{ steps.package-version.outputs.version }}

    steps:

      - name: checkout code
        uses: actions/checkout@v5

      - name: check the files
        run: ls -l

      - name: print inputs
        run: echo "project is ${{ inputs.project }}"

      - name: get app version
        id: package-version
        run: echo "version=$(jq -r '.version' package.json)" >> "$GITHUB_OUTPUT"

      - name: print version
        run: echo ${{ steps.package-version.outputs.version }}

      - name: install dependencies
        run: npm install

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region us-east-1 \
          | docker login --username AWS --password-stdin ${{ inputs.acc_id }}.dkr.ecr.us-east-1.amazonaws.com

      - name: docker build
        run: |
          # Remove buildx builder if present
          docker buildx rm mybuilder || true

          # Disable BuildKit to avoid manifest creation
          export DOCKER_BUILDKIT=0

          # Build image
          docker build --platform=linux/amd64 \
            -t ${{ inputs.acc_id }}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${{ steps.package-version.outputs.version }} \
            .

      - name: docker push ecr
        run: |
          docker push ${{ inputs.acc_id }}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${{ steps.package-version.outputs.version }}

  cd:
    runs-on: self-hosted
    needs: ci
    env:
      component: ${{ inputs.component }}
      appVersion: ${{ needs.ci.outputs.appVersion }}

    steps:
      - name: checkout deploy repo
        uses: actions/checkout@v5
        with:
          repository: joindevops-actions/catalogue-deploy

      - name: check the files
        run: ls -l

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: authenticate to EKS
        run: |
          aws eks update-kubeconfig --region us-east-1 --name roboshop-dev
          kubectl get nodes

      - name: deploy to EKS
        run: |
          kubectl apply -f 1-namespace.yaml
          helm upgrade --install "$component" -f values-dev.yaml --set deployment.imageversion="$appVersion" .
